<!DOCTYPE HTML>
<!--
	Binary by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Udghosh sports events</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="events/assets/css/main.css" />
		<style>
		ul.mps li{
             display: inline-block;
         }
		</style>
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<a href="copy.html" class="logo"><strong>UDGHOSH'19</strong></a>
				<nav>
					<a href="#menu">Menu</a>
				</nav>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="/">Udghosh'19</a></li>
					<li><a href="/acf00010c0c607c79a42343051745191985078f2">Login/Register</a></li>
					  <li><a href="/525299210b55528ffbd19b7a50a4ef386e208f9d" target="_blank">Official Brochure</a></li>
					  <li><a href="/e365d9caf9b7234a92d04292c74c4891befbbf25">NOSSQ</a></li>
					  <li><a href="/56139fb631d586607a3841992148761f78ae3f31">Udghosh Champs</a></li>
					  <!-- <li><a href="/0e2d732613e956976a421343554a49b5e1c76546">Formal Events</a></li> -->
					<li><a href="/c6e7f21e897c7313fab5bd1ed06dd234c777e179">Social Initiatives</a></li>
					<li><a href="/4b3cdf59227ae23ae6373b6f95f6b7a7b39baf9e">Campus Ambassador</a></li>
					<li><a href="/f2adfb77c515a6bd0f82cf3c65ce60654f7f81b6">Udghosh Broadcast</a></li>
					<li><a href="/5e5c68e29abed08823b94f9bf4ad5108514d5100">Udghosh Snapshot</a></li>
					<li><a href="/fb250db707f26b867234c570dfe12a67b0b4d71e">About Us</a></li>
				</ul>
			</nav>

		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					    <h5 style="color:red;">IIT KANPUR PRESENTS TO YOU</h5>
						<!-- <h4 style="color:#f6e58d">India's Biggest Sports Carnival</h4> -->
						<h1 style="font-size:70px;"><i><b>UDGHOSH'19</b></i></h1>
						<i><h3 style="color:#f7f1e3; font-size: 50px;">SPORTS EVENTS</h3></i>
				</div>
			</section>

		<!-- One -->
			<article id="one" class="post style1">
				<div class="image" class="container" style="background-image: url(events/sports/val.jpg); background-position: 75% center;">
					<a href=""><img src="events/sports/val.jpg" alt="" data-position="75% center" /></a>
				</div>
				<div class="content">
						<div class="inner">
							<header>
							<h2><a href="generic.html"><i>Volleyball</i></a></h2>
							<h5>(Men & Women)</h5>
							<p style="color:grey;">"It isn't hard to be good from time to time in sports. What is tough, is being good every day."</p>
							<h5>-Willie Mays</h5></header>
							<ul class="actions">
										<li><a href="https://drive.google.com/file/d/1E87_FwVBl9n7olO1kmURPR923tOfWQJ9/view?usp=sharing "target="_blank"><b>Rules</b</a></li>
											<li><a href="#"><b>Schedule</b></a></li>
										<li><a href="#"><b>Results</b></a></li>
										
							</ul>
						</div>
						<div class="postnav">
							<a href="#one" class="scrolly prev"><span class="icon fa-chevron-up"></span></a>
							<a href="#two" class="scrolly next"><span class="icon fa-chevron-down"></span></a>
						</div>
					</div>
			</article>

		<!-- Two -->
			<article id="two" class="post invert style1 alt">
				<div class="image" style="background-image: url(events/sports/bas1.jpg); background-position: 75% center;" >
					<img src="events/sports/bas1.jpg" alt="" data-position="10% center" />
				</div>
				<div class="content">
					<div class="inner">
						<header>
							<h2>Basketball</h2>
							<h5>(Men & Women)</h5>
							<p>“The strength of the team is each individual member. The strength of each member is the team.” </p>
						<h5>-Phil Jackson</h5>
						</header>
						<ul class="actions">
							<li><a href="https://drive.google.com/file/d/1TKiQXaCDyblFyfuP9HSzBH-BCApxcuMk/view?usp=sharing "target="_blank"><b>Rules</b</a></li>
								<li><a href="#"><b>Schedule</b></a></li>
								<li><a href="#"><b>Results</b></a></li>
						</ul>
					</div>
					<div class="postnav">
						<a href="#one" class="scrolly prev"><span class="icon fa-chevron-up"></span></a>
						<a href="#three" class="scrolly next"><span class="icon fa-chevron-down"></span></a>
					</div>
				</div>
			</article>

		<!-- Three -->
			<article id="three" class="post style2">
				<div class="image" style="background-image: url(events/sports/bad.jpg); background-position: 75% center;">
					<img src="events/sports/bad.jpg" alt="" data-position="80% center" />
				</div>
				<div class="content">
					<div class="inner">
						<header>
							<h2><a >Badminton</a></h2>
							<h5>(Men & Women)</h5>
						<p>“ A champion has to be disciplined by practicing regularly in the right manner, respect coaches and most importantly ought to have self-belief. ”</p>
						<h5>-Saina Nehwal</h5></header>
						<ul class="actions">
							<li><a href="https://drive.google.com/file/d/1MVYDxgdbehr9x5FxJ4a3oEIqSaOatMS5/view?usp=sharing "target="_blank"><b>Rules</b</a></li>
								<li><a href="#"><b>Schedule</b></a></li>
								<li><a href="#"><b>Results</b></a></li>
						</ul>
					</div>
					<div class="postnav">
						<a href="#two" class="scrolly prev"><span class="icon fa-chevron-up"></span></a>
						<a href="#four" class="scrolly next"><span class="icon fa-chevron-down"></span></a>
					</div>
				</div>
			</article>

		<!-- Four -->
			<article id="four" class="post invert style2 alt">
				<div class="image" style="background-image: url(events/sports/wl.jpg); background-position: 75% center;">
					<img src="events/sports/wl.jpg" alt="" data-position="60% center" />
				</div>
				<div class="content">
					<div class="inner">
						<header>
							<h2>Weight Lifting</h2>
							<h5>(Mens Only)</h5>
							<p>"Some people are born to lift heavy weights, some are born to juggle golden balls".</p>
						<h5>-Max Beerbohm</h5>
						</header>
						<ul class="actions">
							<li><a href="https://drive.google.com/file/d/1LZSiHKNkWkLfSo9bb6V4TTbD34K0qGMR/view?usp=sharing"target="_blank"><b>Rules</b</a></li>
								<li><a href="#"><b>Schedule</b></a></li>
								<li><a href="#"><b>Results</b></a></li>
						</ul>
					</div>
					<div class="postnav">
						<a href="#three" class="scrolly prev"><span class="icon fa-chevron-up"></span></a>
						<a href="#five" class="scrolly next"><span class="icon fa-chevron-down"></span></a>
					</div>
				</div>
			</article>

		<!-- Five -->
			<article id="five" class="post style3">
				<div class="image" style="background-image: url(events/sports/ft.jpg); background-position: 75% center;">
					<img src="events/sports/ft.jpg" alt="" data-position="5% center" />
				</div>
				<div class="content">
					<div class="inner">
						<header>
							<h2>Football</h2>
							<h5>(Men & Women)</h5>
							<p>"Your talent determines what you can do. Your motivation determines how much you are willing to do. Your attitude determines how well you do it."</p>
						<h5>-Lou Holtz</h5>
						</header>
						<ul class="actions">
							<li><a href="https://drive.google.com/file/d/1RLCJr99djz1JZQUgFpe8l6JqfnTMef9h/view?usp=sharing "target="_blank"><b>Rules</b</a></li>
								<li><a href="#"><b>Schedule</b></a></li>
								<li><a href="#"><b>Results</b></a></li>
						</ul>
					</div>
					<div class="postnav">
						<a href="#four" class="scrolly prev"><span class="icon fa-chevron-up"></span></a>
						<a href="#six" class="scrolly next"><span class="icon fa-chevron-down"></span></a>
					</div>
				</div>
			</article>

		<!-- Six -->
			<article id="six" class="post invert style3 alt">
				<div class="image" style="background-image: url(events/sports/hk.jpg); background-position: 75% center;">
					<img src="events/sports/hk.jpg" alt="" data-position="80% center" />
				</div>
				<div class="content">
					<div class="inner">
						<header>
							<h2>Hockey</h2>
							<h5>(Men & Women)</h5>
							<p>"Hockey players have fire in their hearts and ice in their veins."</p>
							<h5>-Anonymous</h5>
						</header>
						
						<ul class="actions">
							<li><a href="https://drive.google.com/file/d/1-Zzary2TPRjBV_uekpVbqSPRDcYZcuoq/view?usp=sharing"target="_blank"><b>Rules</b</a></li>
								<li><a href="#"><b>Schedule</b></a></li>
								<li><a href="#"><b>Results</b></a></li>
						</ul>
					</div>
					<div class="postnav">
						<a href="#five" class="scrolly prev"><span class="icon fa-chevron-up"></span></a>
						<a href="#seven" class="scrolly next"><span class="icon fa-chevron-down"></span></a>
					</div>
				</div>
			</article>
			<!-- Seven -->
			<article id="seven" class="post style4">
					<div class="image" style="background-image: url(events/sports/kh.jpg); background-position: 75% center;">
						<img src="events/sports/kh.jpg" alt="" data-position="80% center" />
					</div>
					<div class="content">
						<div class="inner">
							<header>
								<h2>Kho-Kho</h2>
								<h5>(Men & Women)</h5>
								<p>"Life is like a KHO KHO game moving around in circles not knowing who will touch you when."</p>
							    <h5>-Dr Harish Shetty</h5>
							</header>
							
							<ul class="actions">
								<li><a href="https://drive.google.com/file/d/1ehPiBveeyKwC3vIK7H7AdVrgOgoMUvno/view?usp=sharing "target="_blank"><b>Rules</b</a></li>
									<li><a href="#"><b>Schedule</b></a></li>
									<li><a href="#"><b>Results</b></a></li>
							</ul>
						</div>
						<div class="postnav">
							<a href="#six" class="scrolly prev"><span class="icon fa-chevron-up"></span></a>
							<a href="#eight" class="scrolly next"><span class="icon fa-chevron-down"></span></a>
						</div>
					</div>
				</article>
               <!--Eight-->
				<article id="eight" class="post invert style2 alt">
						<div class="image" style="background-image: url(events/sports/cr1.jpg); background-position: 75% center;">
							<img src="events/sports/cr1.jpg" alt="" data-position="80% center" />
						</div>
						<div class="content">
							<div class="inner">
								<header>
									<h2>Cricket</h2>
									<h5>(Mens only)</h5>
									<p>"Compromise for your dream,but never Compromise on your dream."</p>
								<h5>-Imran Khan</h5>
								</header>
								<ul class="actions">
									<li><a href="https://drive.google.com/file/d/1ph2C2HFkfKN_moCA58Lu14ttlyJV5-jz/view?usp=sharing"target="_blank"><b>Rules</b</a></li>
										<li><a href="#"><b>Schedule</b></a></li>
										<li><a href="#"><b>Results</b></a></li>
								</ul>
							</div>
							<div class="postnav">
								<a href="#seven" class="scrolly prev"><span class="icon fa-chevron-up"></span></a>
								<a href="#nine" class="scrolly next"><span class="icon fa-chevron-down"></span></a>
							</div>
						</div>
					</article>
		    <!-- Nine -->
			<article id="nine" class="post style4">
					<div class="image" style="background-image: url(events/sports/sq1.jpg); background-position: 75% center;">
						<img src="events/sports/sq1.jpg" alt="" data-position="80% center" />
					</div>
					<div class="content">
						<div class="inner">
							<header>
								<h2>Squash</h2>
								<h5>(Men & Women)</h5>
								<p>"If you are bitter, you are like a dry leaf that you can just squash, and you can get blown away by the wind. There is much more wisdom in forgiveness."</p>
							    <h5>-Vusi Mahlasela</h5>
							</header>
							<ul class="actions">
								<li><a href="https://drive.google.com/file/d/1w0xzvPkXoz1Hqxfwo5b6i7FFv82oTCuo/view?usp=sharing"target="_blank"><b>Rules</b</a></li>
									<li><a href="#"><b>Schedule</b></a></li>
									<li><a href="#"><b>Results</b></a></li>
							</ul>
						</div>
						<div class="postnav">
							<a href="#eight" class="scrolly prev"><span class="icon fa-chevron-up"></span></a>
							<a href="#ten" class="scrolly next"><span class="icon fa-chevron-down"></span></a>
						</div>
					</div>
				</article>
				<!-- Ten-->
			<article id="ten" class="post invert style1 alt">
					<div class="image" style="background-image: url(events/sports/tt1.jpg); background-position: 75% center;">
						<img src="events/sports/tt1.jpg" alt="" data-position="10% center" />
					</div>
					<div class="content">
						<div class="inner">
							<header>
								<h2>Table Tennis</h2>
								<h5>(Men & Women)</h5>
								<p>“Table Tennis is like an atom. To the ignorant it is merely microscopic and insignificant in existance, but to the dedicated, it is intricate in design and the building block to everything we know. ” </p>
							<h5>-Matt Hetherington</h5>
							</header>
							<ul class="actions">
								<li><a href="https://drive.google.com/file/d/1xRRpwqsGfhjmnCNyKboU3XBuWrubrRN1/view?usp=sharing "target="_blank"><b>Rules</b</a></li>
									<li><a href="#"><b>Schedule</b></a></li>
									<li><a href="#"><b>Results</b></a></li>
							</ul>
						</div>
						<div class="postnav">
							<a href="#nine" class="scrolly prev"><span class="icon fa-chevron-up"></span></a>
							<a href="#eleven" class="scrolly next"><span class="icon fa-chevron-down"></span></a>
						</div>
					</div>
				</article>
				<!-- Eleven -->
			<article id="eleven" class="post style4">
					<div class="image" style="background-image: url(events/sports/lt1.jpg); background-position: 75% center;">
						<img src="events/sports/lt1.jpg" alt="" data-position="80% center" />
					</div>
					<div class="content">
						<div class="inner">
							<header>
								<h2>Lawn Tennis</h2>
								<h5>(Men & Women)</h5>
								<p>"Tennis belongs to the individualistic past – a hero, or at most a pair of friends or lovers, against the world."</p>
							<h5>-Jacques Barzun</h5>
							</header>
							
							<ul class="actions">
								<li><a href="https://drive.google.com/file/d/1Sd-Z_41Uoa-iiN_kjyLihqzLck82xtse/view?usp=sharing "target="_blank"><b>Rules</b</a></li>
									<li><a href="#"><b>Schedule</b></a></li>
									<li><a href="#"><b>Results</b></a></li>
							</ul>
						</div>
						<div class="postnav">
							<a href="#ten" class="scrolly prev"><span class="icon fa-chevron-up"></span></a>
							<a href="#twelve" class="scrolly next "><span class="icon fa-chevron-down"></span></a>
						</div>
					</div>
				</article>
				<!-- Twelve -->
			<article id="twelve" class="post invert style3 alt">
					<div class="image" style="background-image: url(events/sports/ath.jpg); background-position: 75% center;">
						<img src="events/sports/ath.jpg" alt="" data-position="80% center" />
					</div>
					<div class="content">
						<div class="inner">
							<header>
								<h2>Athletics</h2>
								<h5>(Men & Women)</h5>
								<p>"Nobody who ever gave his best regretted it."</p>
							<h5>-George Halas</h5>
							</header>
							<ul class="actions">
								<li><a href="https://drive.google.com/file/d/17NxpP4BwVkFpO5SRuTI7988J0pUpOVux/view?usp=sharing" target="_blank"><b>Rules</b</a></li>
									<li><a href="#"><b>Schedule</b></a></li>
									<li><a href="#"><b>Results</b></a></li>
							</ul>
						</div>
						<div class="postnav">
							<a href="#eleven" class="scrolly prev"><span class="icon fa-chevron-up"></span></a>
							<a href="#thirteen" class="scrolly next"><span class="icon fa-chevron-down"></span></a>
						</div>
					</div>
				</article>
                <!-- Thirteen-->
			<article id="thirteen" class="post style4">
					<div class="image" style="background-image: url(events/sports/chs.jpg); background-position: 75% center;">
						<img src="events/sports/chs.jpg" alt="" data-position="80% center" />
					</div>
					<div class="content">
						<div class="inner">
							<header>
								<h2>Chess</h2>
								<h5>(Mixed)</h5>
								<p>"Chess is the struggle against the error."</p>
							    <h5>-Johannes Zukertort</h5>
							</header>
							<ul class="actions">
								<li><a href="https://drive.google.com/file/d/1dmS_oBf3be2ilvDUR6bh_xiuYqA3rEQ-/view?usp=sharing "target="_blank"><b>Rules</b</a></li>
									<li><a href="#"><b>Schedule</b></a></li>
									<li><a href="#"><b>Results</b></a></li>
							</ul>
						</div>
						<div class="postnav">
							<a href="#twelve" class="scrolly prev"><span class="icon fa-chevron-up"></span></a>
							<a href="#forteen" class="scrolly next"><span class="icon fa-chevron-down"></span></a>
						</div>
					</div>
				</article>
				<!-- forteen -->
			<article id="forteen" class="post invert style2 alt">
					<div class="image" style="background-image: url(events/sports/kb.jpg); background-position: 75% center;">
						<img src="events/sports/kb.jpg" alt="" data-position="60% center" />
					</div>
					<div class="content">
						<div class="inner">
							<header>
								<h2>Kabaddi</h2>
								<h5>(Mens Only)</h5>
								<p>"Rules of life are same as that of the game kabaddi.The moment you touch your success line,people will start pulling your legs."</p>
							<h5>-Saloni Modi</h5>
							</header>
							<ul class="actions">
									<li><a href="https://drive.google.com/file/d/1qIk7QDLhlrgkLefcYfq1FVUQfHLdr4Dd/view?usp=sharing "target="_blank"><b>Rules</b></a></li>
										<li><a href="#"><b>Schedule</b></a></li>
									<li><a href="#"><b>Results</b></a></li>
							</ul>
						</div>
						<div class="postnav">
							<a href="#thirteen"class="scrolly prev"><span class="icon fa-chevron-up"></span></a>
							<a href="fifteen" class="scrolly next "><span class="icon fa-chevron-down"></span></a>
						</div>
					</div>
				</article>
				<!-- Fifteen-->
			<article id="fifteen" class="post style4">
				<div class="image" style="background-image: url(events/sports/pow.jpg); background-position: 75% center;">
					<img src="events/sports/pow.jpg" alt="" data-position="80% center" />
				</div>
				<div class="content">
					<div class="inner">
						<header>
							<h2>Powerlifting</h2>
							<h5>(Mens Only)</h5>
							<p>"It is an activity that takes a day to learn and a lifetime to master."</p>
							<h5>-Tim Henriques</h5>
						</header>
						<ul class="actions">
							<li><a href="https://drive.google.com/file/d/1seoOIzoN9frJnMLbnUuIRx23610BLUm1/view?usp=sharing " target="_blank"><b>Rules </b></a></li>
								<li><a href="#"><b>Schedule</b></a></li>
								<li><a href="#"><b>Results</b></a></li>
						</ul>
					</div>
					<div class="postnav">
						<a href="#forteen" class="scrolly prev"><span class="icon fa-chevron-up"></span></a>
						<a href="#sixteen" class="scrolly next"><span class="icon fa-chevron-down"></span></a>
					</div>
				</div>
			</article>
			<!-- Sixteen -->
			<article id="sixteen" class="post invert style3 alt">
				<div class="image" style="background-image: url(events/sports/skt.jpg); background-position: 75% center;"> 
					<img src="/public/events/sports/skt.jpg" alt="" data-position="80% center" />
				</div>
				<div class="content">
					<div class="inner">
						<header>
							<h2>Skating</h2>
							<h5>(Mixed)</h5>
							<p>"Skating everywhere is unpredictable, no amount of money or facilities is going to create a skating star. You have to have a skater who is dedicated, passionate, and willing to learn."</p>
						<h5>-Robin Cousins</h5>
						</header>
						<ul class="actions">
							<li><a href="https://drive.google.com/file/d/1Bna4V8HRLI1p2NJYz9jL5lacteBcTlym/view?usp=sharing " target="_blank"><b>Rules</b</a></li>
								<li><a href="#"><b>Schedule</b></a></li>
								<li><a href="#"><b>Results</b></a></li>
						</ul>
					</div>
					<div class="postnav">
						<a href="#fifteen" class="scrolly prev"><span class="icon fa-chevron-up"></span></a>
						<a href="#seventeen" class="scrolly next"><span class="icon fa-chevron-down"></span></a>
					</div>
				</div>
			</article>
			<!-- Seventeen-->
			<article id="seventeen" class="post style4">
				<div class="image" style="background-image: url(events/sports/hn.jpg); background-position: 75% center;">
					<img src="/public/events/sports/q.jpg" alt="" data-position="80% center" />
				</div>
				<div class="content">
					<div class="inner">
						<header>
							<h2>Handball</h2>
							<h5>(Mens only)</h5>
							<p>"Isn’t life a collection of weird quizzes with no answers to half the questions?"</p>
							<h5>-Pawan Mishra</h5>
						</header>
						<ul class="actions">
							<li><a href="https://drive.google.com/file/d/1a61_u1K1EuGJtttyCd2pzpsXmsBiuup6/view?usp=sharing" target="_blank"><b>Rules</b></a></li>
								<li><a href="#"><b>Schedule</b></a></li>
								<li><a href="#"><b>Results</b></a></li>
						</ul>
					</div>
					<div class="postnav">
						<a href="#sixteen" class="scrolly prev"><span class="icon fa-chevron-up"></span></a>
						<a href="#eighteen" class="scrolly next"><span class="icon fa-chevron-down"></span></a>
					</div>
				</div>
			</article>
			<!-- Eighteen-->
			<article id="eighteen" class="post invert style2 alt">
				<div class="image" style="background-image: url(events/sports/mr.jpg); background-position: 75% center;">
					<img src="/events/sports/mr.jpg" alt="" data-position="80% center" />
				</div>
				<div class="content">
					<div class="inner">
						<header>
							<h2>Mr.Udghosh</h2>
							<h5>(Mens only)</h5>
							<p>"The deadlift also serves as a way to train the mind to do things that are hard."</p>
							<h5>-Mark Rippetoe</h5>
						</header>
						<ul class="actions">
							<li><a href="https://drive.google.com/file/d/1Grb5vs2fvNEaVjGJUIczAz9DWrYe17Ra/view?usp=sharing"><b>Rules</b></a></li>
								<li><a href="#"><b>Schedule</b></a></li>
								<li><a href="#"><b>Results</b></a></li>
						</ul>
					</div>
					<div class="postnav">
						<a href="#seventeen" class="scrolly prev"><span class="icon fa-chevron-up"></span></a>
						<a href="#" class="scrolly next disabled"><span class="icon fa-chevron-down"></span></a>
					</div>
				</div>
			</article>

		<!-- Footer -->
			<footer id="footer">
                    <ul class="mps" >
                    <li>
						<h4 style="color:yellowgreen;">MAP</h4>
                        <div class="mapouter">
						<div class="gmap_canvas"><iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=IIT%20kanpur%20academic%20area&t=k&z=17&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
						</iframe><a href="https://www.embedgooglemap.net"></a></div><style>.mapouter{position:relative;text-align:right;height:600px;width:700px;}.gmap_canvas {overflow:hidden;background:none!important;height:550px;width:600px;}
						</style></div>
                    </li>
                        <li>
                            <div style="text-align: right; width:550px;">
                                <form action="/c9d3bd7a2d649424b8296368c82d5fe2fr" method="post">
									    <center><h4 style="color:yellowgreen;">CONTACT US</h4></center>
                                        <center><label style="color:red;"><b>Name:</b></label></center>
                                        <center><input name="name" type="text" style="width:470px;background-color:#dcdde1" placeholder="Name."required><br></center><!--adding required field-->
                                        <center><label><b>Email:</b></label></center>
										<center><input name="email" type="email" style="width:470px;background-color:#dcdde1" placeholder="Email-id."required/><br></center>
										<center><label><b>Message:</b></label> </center>
										<center><textarea name="message" placeholder=" Enter your Message" style="background-color:#dcdde1; width:470px;height:170px;"></textarea></center><br>
                                        <center><a href=""><input name="" type="submit" value="Send message" style="background-color:#f5f6fa;"/></a></center>
                                </form>
                            </div>
                        </li>
                    </ul>
                            <br>
				<ul class="icons">
						<li><a href="https://twitter.com/udghoshiitk?lang=en" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="https://www.facebook.com/udghosh.iitk/" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="https://www.instagram.com/udghosh_iitk/" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="https://www.youtube.com/user/udghosh11" class="icon fa-youtube"><span class="label">Instagram</span></a></li>
				</ul>
				<div class="copyright">
						&copy;Udghosh'19
					</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>
