Welcome User - <%= user %>

<%= msg %>

<form action="/nossq68start" method="POST">
	<input style="display: none;" type="text" name="userid" value= <%= user %> required>
	<button type="submit">Start Quiz</button>
</form>