
<!--Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<html>
<head>
<title>Senior category-Login</title>
<link href="/style.css" rel="stylesheet" type="text/css" media="all"/>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Transparent Login Form Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements" />
<!--web-fonts-->
<link rel="icon" type="image/png" href="ca/favicon/logo.png" />

<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css' />
<!--web-fonts-->
</head>

<body>
<!--header-->
	<div class="header-w3l">
		<h1> Stage 1 (Screening Round)</h1>
	</div>
	<div>
		<h1 style = "color : red"><%= msg %></h1>
		<h1 style="color: aqua;">Students of 11th and 12th class can login</h1>
	</div>

<!--//header-->

<!--main-->
<div class="main-content-agile">
	<div class="sub-main-w3">	
		<form action="/f6232858b13699842d6015790ea8b1f0" method="post">
			<input type="text", placeholder="Enter your code" name = "userid"><br>
			<input type="submit" value="">
		</form>
	</div>
</div>
<!--//main-->
</body>
</html>
